<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.User.username %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>
<% if logged? && admin? %>

        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% elsif  logged?  && nameRes(restaurant) %>
<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% else %>
<% end %>

      </tr>

    <% end %>
  </tbody>
</table>

<br>


#if logged in and restaurant teu
<% if logged? %>

<%= link_to 'New Restaurant', new_restaurant_path %>
<% else %>
  
<% end %>

<%= link_to 'Go to users', users_path %>
<%= link_to 'Go to comments', comments_path %>


   