<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
      
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.user %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>
        <td><%= link_to 'Show', restaurant %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


#if logged in and restaurant teu
if logged?
<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
     
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.user %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>       
      </tr>
  
<%= link_to 'New Restaurant', new_restaurant_path %>
<td><%= link_to 'Show', restaurant %></td>
<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tbody>
</table>
    end
#if logged in i no restaurant

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
     
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.user %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>       
      </tr>
  
<td><%= link_to 'Show', restaurant %></td>
<% end %>
</tbody>
</table>

#if admin


<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
     
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.user %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>        
      </tr>
   
<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>
</tbody>
</table>